<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
      <div class="about">
        <h1>About</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime
          fugiat quaerat aut, sapiente asperiores tempore voluptatem voluptatum
          inventore repellendus iusto, eligendi doloribus quod porro suscipit
          sunt ab nemo ratione. Eveniet doloremque veritatis incidunt vel
          pariatur consequatur iusto nostrum fugit quibusdam!
        </p>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
