<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <form action="">
            <div class="row">
                <p>
                    <label for="">Blog title: </label><br>
                    <input type="text">
                </p>
                <p>
                    <label for="">Blog snippet: </label><br>
                    <input type="text">
                </p>
                <p>
                    <label for="">Blog body: </label><br>
                    <textarea name="" id="" cols="22" rows="3"></textarea>
                </p>
                <button class="submit">Sumbit</button>
            </div>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
